form:not(.styless) {
	width: 400px;
	overflow: hidden;
	padding: 1em;
	position: absolute;
	right: 3em; top: 3em;
	border-right: .5em solid #594032;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}

img#art {
	border-radius: 1em;
	max-width: 100%;
}

@media screen and (max-width: 1200px) {
	main:not(.styless) {
		padding: 2em;
	}
}

@media screen and (max-width: 1200px) {
	form:not(.styless) {
		position: relative;
    	margin: 1em;
    	margin-bottom: 3em;
    	right: 0;
    	max-width: 80%;
	}
}

@media screen and (max-width: 1200px) {
	section.columns:not(.styless) {
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	aside:not(.styless) {
		position: relative;
	}
}

@media screen and (max-width: 1200px) {
	h1:not(.styless) {
		font-size: 2em;
	}
}

@media screen and (max-width: 1200px) {
	h2:not(.styless) {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 1200px) {
	.manual:not(.styless) {
		max-height: 2.5em;
	}
}



fieldset {
	margin: 1em;
	border: 1px solid var(--color-accent);
}
legend {
	color: var(--color-accent);
}

input, button, select {
	padding: .5em 1em;
	border-radius: 2em;
	border: none;
	margin-bottom: 0.5em;
	border: 2px solid transparent;
	outline: none;
	transition: .15s border;
	background-color: #DDD4CF;
}
input:focus {
	border-color: #594032;
}

form > input:not([type=submit]), form > select {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
form > * + * {
	margin-top: 1em;
}

input[type=submit], button {
	cursor: pointer;
	float: right;
}
input[type=submit]:hover, button:hover {
	border-color: #594032;
}

textarea{
	width: 100%;
	min-height: 10em;
	resize: vertical;
	border: 1px solid #ccc;
	border-radius: 5px;
}

select[disabled] {
	filter: grayscale(100%);
	opacity: .6;
}
