main {
	margin: 0 auto;
}

.manual:after {
	font-family: "Font Awesome 6 Free";
	content: "\f107";
	transform: rotate(0deg);
	transition: .3s transform;
	position: absolute;
	font-size: 1.5em;
	right: .5em;
	top: .4em;
}

.manual.open:after {
	transform: rotate(180deg);
}

.manual {
	position: relative;
	overflow: hidden;
	max-height: 3em;
	margin-bottom: 1em;
	transition: 1s;
}

.manual.open {
	max-height: 25em;
}

.manual h2 {
	cursor: pointer;
}

.manual a {
	color: white;
}

#book {
	color: white;
}

#buttonPDF {
	background-color: #594032cf;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	color: white;
	box-sizing: border-box;
	border: 1px solid transparent;
}

#buttonPDF:hover {
	border-color: black;
}

a#white-paper {
	width: 300px;
	display: block;
	margin: 0 auto 2em auto;
	text-align: center;
}
a#white-paper > img {
	width: 100%;
	border: 1px solid transparent;
}
a#white-paper:hover > img {
	border-color: black;
}

