@import "/css/theme.css";

table {
	border-spacing: 0;
	background: var(--color-foreground);
	border: 1px solid var(--color-accent);
	width: 100%;
}

th, td {
	text-align: left;
	bborder: 1px solid var(--color-accent);
	padding: .6em 1em;
	font-family: monospace;
}

tr:nth-child(even) {
	background-color: var(--color-background);
}

th {
	background: var(--color-accent);
	color: var(--color-foreground);
}
