<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

	<p>
		The account {{account}} has sent a new support request, the message provided is the following:
	</p>

	<pre>{{message}}</pre>

</body>
</html>